<div class="container"> 
 <div class="row">
<div class="col-md-4">
  <app-languages><h5 class="card-title">Angular</h5>
    <a href="#" class="btn btn-primary">Learn Angular</a>
  </app-languages>
</div>
<div class="col-md-4">
  <app-languages><h5 class="card-title">JavaScript</h5>
    <a href="#" class="btn btn-primary">Learn JavaScript</a>
  </app-languages>
</div>
<div class="col-md-4">
  <app-languages><h5 class="card-title">Python</h5>
    <a href="#" class="btn btn-primary">Learn Python</a>
  </app-languages>
</div>
</div>
